/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #788a87; /* Dark Turquoise  (almost black) background */
    color: #f4f4f4; /* Light gray text for readability */
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1, h2 {
    color: #f0f0f0; /* Slightly lighter than general text */
}

/* Header Section */
.main-header {
    background-color: #8ca19e; /* olive green for contrast */
    padding: 20px 0;
    border-bottom: 3px solid #788a87; /* Darker divider */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav a {
    margin: 30px 15px;
    text-decoration: none;
    color: #eaeaea; /* Lighter text color for navigation */
}

.signup-btn {
    background-color: #e94560; /* Pinkish-red for contrast */
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #af0f2b; /* Darker hover color */
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #8fb6ab; /* pale turquoise  background */
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #f0f0f0;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #f0f0f0; /* Muted light gray */
    margin-bottom: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.cta-form {
    display: flex;
}

.cta-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 250px;
    font-size: 1rem;
}

.cta-form button {
    padding: 10px 20px;
    background-color: #e94560; /* Matching red for call-to-action */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-form button:hover {
    background-color: #af0f2b; /* Darker hover */
}

/* Section Styles */
.section {
    padding: 60px 20px;
    text-align: center;
}

#budgeting {
    background-color: #8fb6ab; /* Same as header for consistency */
}

#investments {
    background-color: #86b3a6; /* Same as body background for uniformity */
}

#managing_finances {
    background-color: #8fb6ab;
}

#savings {
    background-color: #86b3a6;
}

#resources {
    background-color: #8fb6ab;
}

.cta-button {
    background-color: #3498db; /* Bright blue for call-to-action */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #346edb; /* Darker blue hover effect */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #8ca19e;
    color: #f0f0f0;
    padding: 20px;
}
