<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="images/logo.png" width ="90" height ="80">
                </div>
                <nav class="main-nav">
                    <a href="index.html">Home</a>
                    <a href="#">How it works</a>
                    <a href="signup.html" class="signup-btn">Sign up now</a>
                    <p> </p>
                </nav>
            </div>
            <div class="hero">
                <div class="hero-text">
                    <h1>Budgeting</h1>
                    <p>Budgeting allows you to be flexible with your spending and allows you to 
                        save your money through thoughtful planning and managing. </p>
                </div>
            </div>
        </div>
    </header>

    <!--Tips-->
    <section id="budgeting" class="section">
        <div class="container">
            <h2> Tips</h2>
            <p> 1. Use a budget system that matches with your finances to get the most out of your money.</p>
            <p> 2. With the budget system of your choice, keep track of your expenses to prevent from overspending.</p>
            <p> 3. Try to manage your savings by having a weekly or monthly plan that will help you save money. </p> 
   <!--Goals/Plans-->
   <section id="goals/plans" class="section">
    <div class="container">
        <h2>Goals and Plans</h2>
        <p>Creating goals and having a plan can help you keep track of how you budget your finances. It assists you in
            saving and being flexible with your money, but also help you understand how to handle finances.
        </p>
        <a href="https://www.usa.gov/features/budgeting-to-meet-financial-goals">How to Meet Your Goals </a>
    </div>
</section>

<!--Tracking Budget-->
<section id="trackingbudget" class="section">
    <div class="container">
        <h2> Track Budget</h2>
        <p>Keeping track of your budget helps with meeting your finacial goals, wether they are big or small.
           By keeping up with your budget, it allows for better management and financial security in the future. 
        </p>
    </div>
</section> 

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Personal Finance Tracker. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>