<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="images/logo.png" width ="90" height ="80">
                </div>
                <nav class="main-nav">
                    <a href="index.html">Home</a>
                    <a href="#">How it works</a>
                    <a href="signup.html" class="signup-btn">Sign up now</a>
                    <p> </p>
                </nav>
            </div>
            <div class="hero">
                <div class="hero-text">
                    <h1>Managing Finances</h1>
                    <p>Managing your finances is an important concept to do as it can provide
                        financal security in the future. It allows to understand how your personal 
                        finances work and make better financal decisions in the future. 
                        There are multiple ways to save and invest your finances which allows for you
                        to understand your finances and have better budgeting habits.
                    </p>
                </div>
            </div>
        </div>
    </header>