<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="images/logo.png" width ="90" height ="80">
                </div>
                <nav class="main-nav">
                    <a href="index.html">Home</a>
                    <a href="#">How it works</a>
                    <a href="signup.html" class="signup-btn">Sign up now</a>
                    <p> </p>
                </nav>
            </div>
            <div class="hero">
                <div class="hero-text">
                    <h1>Resources</h1>
                    <p>Sample text.</p>
                </div>
            </div>
        </div>
    </header>
    <!--Local Resources Selection-->
    <section id="localresources" class="section">
        <div class="container">
            <h2>Local and Online Resources</h2>
            <p><a href="https://shorturl.at/zjU9H">Resources</a> that are available online and locally in your area</p>
        </div>
    </section>

    <!--Expert Advising-->
    <section id="expertadvising" class="section">
        <div class="container">
            <h2> Expert Advising</h2>
            <p>  Online and local financial advising is available to everyone. </p>
            <a href="https://www.napfa.org/find-an-advisor?q=78666#"> Find an advisor</a>
        </div>
    </section>

    <!--Strategies-->
    <section id="strategies" class="section">
        <div class="container">
            <h2> Strategies </h2>
            <p> Using <a href="https://onlinemba.ku.edu/experience-ku/mba-blog/financial-management-and-accounting-strategies-for-business-growth"> strategies</a>
                 is one of the most useful ways to to manage your personal finances.
                With strategies, you are able to optimize your finances by allowing it to flourish 
                and give stability in the future. 
            </p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Personal Finance Tracker. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>