<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="images/logo.png" width ="90" height ="80">
                </div>
                <nav class="main-nav">
                    <a href="index.html">Home</a>
                    <a href="#">How it works</a>
                    <a href="signup.html" class="signup-btn">Sign up now</a>
                    <p> </p>
                </nav>
            </div>
            <div class="hero">
                <div class="hero-text">
                    <h1>Savings</h1>
                    <p>Saving money can provide multiple benefits to your finances.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Tips-->
    <section id="localresources" class="section">
        <div class="container">
            <h2>Tips</h2>
            <p> 1. Keep track of expenses to maximize your savings.</p>
            <p> 2. Opening a savings account can help you earn more money overtime. </p>
            <p> 3. Havings savings as part of your budget plan can help you save money overtime. </p>
        </div>
    </section>

    <!--Expert Advising-->
    <section id="expertadvising" class="section">
        <div class="container">
            <h2> Expert Advice </h2>
            <p> Plan your savings with goals to keep track how much you save. With a <a href="https://www.napfa.org/find-an-advisor?q=78666#">financial advisor </a>
                 you can get assistance to maximize your savings with time.
            </p>
        </div>
    </section>

    <!--Goals-->
    <section id="strategies" class="section">
        <div class="container">
            <h2> Goals</h2>
            <p> Setting up goals can help maximize your savings whether it's big or small. With goals,
                you are able to adjust how much you are saving, especially if a budget plan is being followed as well.
                Creating and adjusting realistic goals can help understand how much money is being saved based on your
                spending and how it can grow overtime. 
            </p>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Personal Finance Tracker. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>